.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--color-primary-dark);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid var(--color-primary);
    box-sizing: border-box; /* Garante que padding não cause overflow */
}

.header .logo a {
    color: var(--color-secondary);
    font-size: 1.8em; /* Aumentando o tamanho para mais destaque */
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.header .logo a:hover {
    color: var(--color-primary);
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 30px; /* Aumentando o espaço entre os itens */
    margin: 0;
    padding: 0;
}

.nav ul li a {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 10px 15px; /* Espaçamento adicional para tornar clicável */
    border-radius: var(--border-radius);
}

.nav ul li a:hover {
    color: var(--color-primary);
    background-color: rgba(255, 255, 255, 0.1); /* Fundo leve ao passar o mouse */
}
