{% extends 'global/base/base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="register-container">
    <h2>Registro</h2>
    <div class="form">
        <form action="{% url 'authors:register' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}    
                <div class="form-group">
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                    {{field.errors}}
                </div>
            {% endfor %}
        <div class="submit">
            <button type="submit">Solicitar registro</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}